Repository rrostyslav/project-A-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, no-debug

lint:
  run: 'echo "🔍 Linting code..."
  
    bun run lint:oxlint {staged_files}
  
    bun run lint:eslint {staged_files}
  
    '
  skip:
  - merge
  - rebase

format:
  run: 'echo "✨ Formatting code..."
  
    bun run format
  
    '

typecheck:
  run: 'echo "🔎 Type checking..."
  
    bun run type-check
  
    '
  skip:
  - merge
  - rebase

no-debug:
  run: 'echo "🐛 Checking for debug code..."
  
    grep -L "console.log\\|debugger" {staged_files} || echo "⚠️ Debug code detected!"
  
    '

feat: add release workflow and semantic release configuration
  bun.lock
  package.json
Due: format

chore: remove unused oxlint plugin from ESLint configuration
  eslint.config.ts
Due: lint, format, typecheck, no-debug

feat: typography component
  .gitignore
  .vscode/settings.json
  bun.lock
  eslint.config.ts
  package.json
  src/pages/greeting/GreetingPage.vue
  src/shared/types/index.ts
  src/shared/types/theme.ts
  src/shared/ui/typography/Typography.vue
  src/shared/ui/typography/index.ts
Due: lint, format, typecheck, no-debug

feat: add semantic release configuration and GitHub Actions workflow
  .github/workflows/release.yml
  .releaserc.json
  package.json
  src/shared/config/codegen.ts
Due: lint, format, typecheck, no-debug

chore: update release.yml and clean up package.json dependencies
  .github/workflows/release.yml
  bun.lock
  package.json
Due: format

chore: update GITHUB_TOKEN in release.yml to use PROJECT_A_SECRET
  .github/workflows/release.yml
Due: none

ci: remove npm publish
  .releaserc.json
  bun.lock
  package.json
Due: format

ci: commitlint ignore ci commits
  .commitlintrc.ts
Due: lint, format, typecheck, no-debug

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  bfe3ee50791869a750147b863881e3ba7719f000
Due: none

ci: release pull request
  .releaserc.json
  bun.lock
  package.json
Due: format

ci: add dependency for ci plugin
  bun.lock
  package.json
Due: format

ci: fix ci
  bun.lock
  package.json
Due: format

feat: change greeting (test ci)
  src/pages/greeting/GreetingPage.vue
Due: lint, format, no-debug

ci: fix ci
  .releaserc.json
Due: format

Notes added by 'git notes add'
  5de8bec02d9ec1943f99d6ad89919d48032e1ef4
Due: none

ci: fix ci
  .github/workflows/release.yml
  .releaserc.json
Due: format

ci: fix ci
  .github/workflows/release.yml
Due: none

ci: fix .releaserc.json
  .releaserc.json
Due: format

ci: test ci
  src/pages/greeting/GreetingPage.vue
Due: lint, format, no-debug

feat: test ci
  src/pages/greeting/GreetingPage.vue
Due: lint, format, no-debug

Notes added by 'git notes add'
  604a6f78358b2b1960e716b4ee63801641aa4358
Due: none

ci: update release.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx,vue}
  format: any of: *.{js,jsx,ts,tsx,vue,json,md}
  typecheck: any of: *.{ts,tsx}
  no-debug: any of: *.{js,jsx,ts,tsx,vue}
