Repository rrostyslav/project-A-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, no-debug

lefthook.yml:

colors: true
skip_output: [meta, success]
#---------------------------------------------
# Pre-commit checks
#---------------------------------------------
pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,jsx,ts,tsx,vue}'
      run: |
        echo "ğŸ” Linting code..."
        pnpm lint {staged_files}
      skip: [merge, rebase]
    format:
      glob: '*.{js,jsx,ts,tsx,vue,json,md}'
      run: |
        echo "âœ¨ Formatting code..."
        pnpm fmt:fix
      stage_fixed: true
    typecheck:
      glob: '*.{ts,tsx}'
      run: |
        echo "ğŸ” Type checking..."
        pnpm exec tsc --noEmit
      skip: [merge, rebase]
    no-debug:
      glob: '*.{js,jsx,ts,tsx,vue}'
      run: |
        echo "ğŸ› Checking for debug code..."
        grep -L "console.log\\|debugger" {staged_files} || echo "âš ï¸ Debug code detected!"
#---------------------------------------------
# Commit message validation
#---------------------------------------------
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: |
        echo "ğŸ“ Validating commit message..."
        npx --no-install commitlint --edit "$1"
#---------------------------------------------
# Branch operations
#---------------------------------------------
post-merge:
  commands:
    update-deps:
      run: |
        echo "ğŸ“¦ Checking dependencies..."
        if git diff --name-only HEAD@{1} HEAD | grep -E 'pnpm-lock.yaml|package.json'; then
          echo "ğŸ“¦ Updating dependencies..."
          pnpm install
        fi
post-checkout:
  commands:
    setup:
      run: |
        echo "ğŸ§¹ Preparing workspace..."
        pnpm run check
        if [ "$3" = "1" ] && git diff --name-only $1 $2 | grep -E 'pnpm-lock.yaml|package.json'; then
          echo "ğŸ“¦ Updating dependencies for new branch..."
          pnpm install
        fi

fix: format - indent style, indent size set to 2
  .commitlintrc.ts
  biome.json
  package.json
  postcss.config.js
  src/components/Counter.test.tsx
  src/components/Counter.tsx
  src/main.tsx
  src/routes/__root.tsx
  src/routes/_layout.tsx
  src/routes/index.tsx
  tailwind.config.js
  tsconfig.json
  vite.config.mts
  vitest.config.ts
Due: lint, format, typecheck, no-debug

feat: add environment variable management and setup playwright tests
  .github/workflows/playwright.yml
  .gitignore
  biome.json
  e2e/example.spec.ts
  lefthook.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/env.d.ts
  src/setupTests.ts
  src/shared/config/env.ts
  src/shared/config/index.ts
  tests-examples/demo-todo-app.spec.ts
  tsconfig.json
  tsconfig.vitest.json
  vite.config.mts
  vitest.config.ts
Due: lint, format, typecheck, no-debug

feat: update package scripts to use bun and enhance lefthook configuration
  bun.lock
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat: enhance tailwind configuration with custom color palette and update package dependencies
  bun.lock
  package.json
  tailwind.config.js
Due: lint, format, no-debug

feat: update dependencies, add utility functions, and enhance tailwind configuration
  bun.lock
  components.json
  package.json
  src/routes/index.tsx
  src/shared/lib/cn.ts
  src/shared/lib/index.ts
  src/shared/ui/button.tsx
  src/shared/ui/collapsible.tsx
  src/styles.css
  tailwind.config.js
Due: lint, format, typecheck, no-debug

fix: lefthook
  lefthook.yml
  package.json
  src/routeTree.gen.ts
  vite.config.ts
Due: lint, format, typecheck, no-debug

feat: update lefthook configuration to improve dependency management and linting process
  lefthook.yml
Due: none

chore: update package dependencies to latest versions
  bun.lock
  package.json
Due: format

chore: update bun.lock
  bun.lock
Due: none

feat: shadcn base configuration
  bun.lock
  components.json
  package.json
  src/app/styles/main.css
  src/lib/utils.ts
  tsconfig.app.json
  tsconfig.json
  vite.config.ts
Due: lint, format, typecheck, no-debug

feat: shadcn base configuration
  src/app/styles/main.css
Due: none

feat: enhance ESLint configuration and update dependencies for improved linting
  bun.lock
  eslint.config.ts
  package.json
Due: lint, format, typecheck, no-debug

feat: add dependency-cruiser for dependency visualization and update scripts
  .dependency-cruiser.cjs
  .gitignore
  bun.lock
  package.json
Due: format

feat: implement Apollo Client setup and environment configuration
  bun.lock
  env.d.ts
  eslint.config.ts
  lefthook.yml
  package.json
  src/routeTree.gen.ts
  src/shared/config/codegen.ts
  src/shared/config/env.ts
  src/shared/config/index.ts
  src/shared/gql/client.ts
  src/shared/gql/index.ts
  src/shared/lib/cn.ts
  src/shared/lib/index.ts
  vite.config.ts
  vitest.config.ts
Due: lint, format, typecheck, no-debug

chore: clean up ESLint configuration by removing commented code
  eslint.config.ts
Due: lint, format, typecheck, no-debug

feat: add release workflow and semantic release configuration
  bun.lock
  package.json
Due: format

chore: remove unused oxlint plugin from ESLint configuration
  eslint.config.ts
Due: lint, format, typecheck, no-debug
