Repository rrostyslav/project-A-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, no-debug

lint:
  run: 'echo "🔍 Linting code..."
  
    bun run lint:oxlint {staged_files}
  
    bun run lint:eslint {staged_files}
  
    '
  skip:
  - merge
  - rebase

format:
  run: 'echo "✨ Formatting code..."
  
    bun run format
  
    '

typecheck:
  run: 'echo "🔎 Type checking..."
  
    bun run type-check
  
    '
  skip:
  - merge
  - rebase

no-debug:
  run: 'echo "🐛 Checking for debug code..."
  
    grep -L "console.log\\|debugger" {staged_files} || echo "⚠️ Debug code detected!"
  
    '

ci: update release.yml
  .github/workflows/release.yml
Due: none

feat: test ci
  src/pages/greeting/GreetingPage.vue
Due: lint, format, no-debug

Notes added by 'git notes add'
  0cddb8d3bded99e5f2ec670070f43c9dcb06fa0b
Due: none

chore(release): prepare for next version
  CHANGELOG.md
Due: format

chore: revert ci to working state at 9fa5b35
  .github/workflows/release.yml
  .releaserc.json
  CHANGELOG.md
  bun.lock
  package.json
  src/pages/greeting/GreetingPage.vue
Due: lint, format, no-debug

Notes added by 'git notes add'
  26286910870ac121ebd12b41afc63dc925b8026e
Due: none

feat: typography component
  .gitignore
  .vscode/settings.json
  bun.lock
  eslint.config.ts
  package.json
  src/pages/greeting/GreetingPage.vue
  src/shared/types/index.ts
  src/shared/types/theme.ts
  src/shared/ui/typography/Typography.vue
  src/shared/ui/typography/index.ts
Due: lint, format, typecheck, no-debug

chore: add package release-it
  bun.lock
  package.json
Due: format

chore: clone project-a-frontend
  .release-it.ts
Due: lint, format, typecheck, no-debug

feat: implement login and signup pages with guest layout
  index.html
  src/app/App.vue
  src/app/providers/router/index.ts
  src/app/styles/main.css
  src/pages/greeting/GreetingPage.vue
  src/pages/greeting/index.ts
  src/pages/login/Login.vue
  src/pages/login/index.ts
  src/pages/not-found/NotFoundPage.vue
  src/pages/not-found/index.ts
  src/pages/signup/Signup.vue
  src/pages/signup/index.ts
  src/shared/types/routes.ts
  src/shared/ui/layouts/DefaultLayout/DefaultLayout.vue
  src/shared/ui/layouts/DefaultLayout/index.ts
  src/shared/ui/layouts/GuestLayout/GuestLayout.vue
  src/shared/ui/layouts/GuestLayout/index.ts
  src/shared/ui/layouts/index.ts
Due: lint, format, typecheck, no-debug

feat: update branding in login and signup pages to reflect new application name
  index.html
  src/pages/login/Login.vue
  src/pages/signup/Signup.vue
Due: lint, format, no-debug

feat: add Checkbox and Switch components with styling and props handling
  bun.lock
  components.json
  lefthook.yml
  package.json
  src/pages/login/Login.vue
  src/shared/config/codegen.ts
  src/shared/ui/checkbox/Checkbox.vue
  src/shared/ui/checkbox/index.ts
  src/shared/ui/switch/Switch.vue
  src/shared/ui/switch/index.ts
Due: lint, format, typecheck, no-debug

refactor(Typography): component to use class-variance-authority for styling
  src/shared/ui/typography/Typography.vue
Due: lint, format, no-debug

feat: add Docker configuration and welcome page for Project A
  .dockerignore
  Dockerfile
  docker-compose.yml
  env.d.ts
  index.html
  nginx/default.conf
  package.json
  scripts/docker-dev.sh
  scripts/docker-prod.sh
  src/app/App.vue
  src/app/icons/project-a.svg
  src/app/providers/router/index.ts
  src/pages/login/Login.vue
  src/pages/signup/Signup.vue
  src/pages/welcome/Welcome.vue
  src/pages/welcome/index.ts
  src/shared/config/env.ts
  src/shared/types/routes.ts
  vite.config.ts
Due: lint, format, typecheck, no-debug

feat: add Storybook setup and example button component
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  bun.lock
  examples/storybook/Button/Button.stories.ts
  examples/storybook/Button/Button.vue
  package.json
  tsconfig.app.json
Due: lint, format, typecheck, no-debug

feat: add VKey component with styling variants and update package dependencies
  package.json
  src/shared/ui/button/Button.vue
  src/shared/ui/button/index.ts
  src/shared/ui/key/VKey.vue
  src/shared/ui/key/index.ts
  src/shared/ui/star-button/StarButton.vue
  src/shared/ui/star-button/index.ts
Due: lint, format, typecheck, no-debug

feat: add vite-plugin-checker for improved type checking in Vite configuration
  bun.lock
  package.json
  vite.config.ts
Due: lint, format, typecheck, no-debug

chore: update code generation and ESLint configuration to ignore generated GraphQL files
  .gitignore
  eslint.config.ts
  src/shared/config/codegen.ts
Due: lint, format, typecheck, no-debug

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx,vue}
  format: any of: *.{js,jsx,ts,tsx,vue,json,md}
  typecheck: any of: *.{ts,tsx}
  no-debug: any of: *.{js,jsx,ts,tsx,vue}
